<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h3> Create a Basketball Team! </h3>
    <ul>
    <form method="POST" action="/team">
    <label for="name">Team Name</label>
    <input type="text" id="name" name="name">

    <label for="coach">Coach</label>
    <input type="text" id="coach" name="coach">

    <label for="pg">Point Guard</label>
    <input type="text" id="pg" name="pg">

    <label for="sg">Shooting Guard</label>
    <input type="text" id="sg" name="sg">

    <label for="sf">Small Forward</label>
    <input type="text" id="sf" name="sf">

    <label for="power_forward">Power Forward</label>
    <input type="text" id="pf" name="pf">

    <label for="center">Center</label>
    <input type="text" id="center" name="c">



    <input type="submit" value="Submit">
    </ul>
 </body>
</html>


